div {
    background-color: LightGreen;
}
#MusicTube{
    font-family: 'Anton', sans-serif;
}
#MusicTube {
    text-align: center;
}
h1 {
    font-family: 'Comfortaa', cursive;
}


#searchButton {
   text-align: center;
}
#input {
    text-align: center;
    width: 320px;
    height: 
    
}
body {
    background-color: LightGreen;
}

.searchbar {
    margin:auto;
    width: 400px
}

body {
    background-image: url("http://www.imagesyoulike.com/images/v/32x24/v1986.jpg");
     background-repeat:no-repeat;
     background-size:cover;
}

